/**
 * Personalized presentation theme for reveal.js
 *
 * By Marco Tallone, January 2025
 */


// Default mixins and settings -----------------
@use "sass:color";
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: var(--background);

$mainColor: var(--textcolor);
$headingColor: var(--primary);

$mainFontSize: 40px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none; /* NOTE: force upper case with: uppercase; */
$headingFontWeight: 600;
$linkColor: #487db1; /* NOTE: the progress bar and links will have this color */
$linkColorHover: color.scale( $linkColor, $lightness: 15% );
$selectionBackgroundColor: color.scale( $linkColor, $lightness: 25% );

$heading1Size: 1.5em;
$heading2Size: 1.2em;
$heading3Size: 0.75em;
$heading4Size: 0.5em;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
