/* Presentation Stylesheet Styles */

/* Colors ------------------------------------------------------------------ */
:root {
	--primary: #362FD9;
    --secondary: #537FE7;
	--accent: #00ab8e;
	--accent2: #ff634d;
    --accent3: #9491ff;
	--background: #e6e6e6;
	--dark: #333446;
	--light: #7F8CAA;
	--textcolor: #000000;
}

/* General RevealJS Settings Overriding ------------------------------------ */

/* Use all available space */
.slides>section{ width: 100%; height: 100%; }

/* Use all space and center sections */
section {
	display: flex !important;
	top: unset !important;
	flex-direction: column;
	height: 100vh;
	width: 100vh;
}

/* Math font size */
.katex { font-size: 1em !important; }

/* Code font size */
.code { font-size: 0.8em !important; }

/* Presentation Title ------------------------------------------------------ */

.main-title-body {
	display: flex; 
	justify-content: center; 
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.main-title-logos {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-title-logo-item {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}


/* Section Titles ---------------------------------------------------------- */

.section-title-body {
	display: flex; 
	justify-content: center; 
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

/* Slides ------------------------------------------------------------------ */

.slide-body {
	display: flex; 
	justify-content: center; 
	flex-direction: column;
	align-items: center;
	height: 100vh;
}
.slide-body b { font-style: bold; }
.slide-body i { font-style: italic; }
.slide-body p {
    width: 80%;
    text-align: center;
}

.slide-text {
	width: 80%;
	text-align: left;
}

.vertically-spaced-text {
	display: flex; 
	justify-content: left !important;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.slide-title { 
	display: flex; 
	justify-content: left; 
	align-items: top;
	padding: 40px 0px 30px 50px;
	/* background-color: var(--dark); */
	position: relative; /* Or 'absolute' if needed */
	top: 50px; /* Adjust the value as needed */
}

/* Boxes and Containers */
.cbox {
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 30px 30px 30px 30px;
	text-align: left;
	color: var(--textcolor);
	width: 80%;
	box-shadow: 4px 5px 10px rgba(134,142,176,1);
}
.cbox b { font-weight: bold; }
.cbox i { font-style: italic; }

/* Multiple columns (mulicolumn) */
.multicolumn {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.column { flex: 1; }

/* Lists */
.list li {
	margin-bottom: 30px;
	/* font-weight: normal; */
}
.spaced-list li {
	margin-bottom: 10px;
	font-weight: bold;
}
.spaced-sublist li {
	margin-bottom: 10px;
	font-style: italic;
	font-weight: normal;
}

.back-button {
	display: inline-block;
    position: relative;
    bottom: 50px;
	padding: 5px 10px;
	font-size: 1em;
	color: var(--secondary);
	border: none;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
}

/* Tables */
.latex-table {
	width: 80%;
	border-collapse: collapse;
	border: 1px solid var(--textcolor);
	font-size: 0.53em;
	text-align: center !important;
    line-height: 0.8;
	th, td {
		border: 1px solid var(--textcolor);
		padding: 2px;
		text-align: center !important;
	};
	th {
		background-color: var(--dark);
		text-align: center !important;
	}
}
.latex-table2 {
	width: 80%;
	border-collapse: collapse;
	border: 1px solid var(--textcolor);
	font-size: 0.8em;
	text-align: center !important;
    line-height: 1;
	th, td {
		border: 1px solid var(--textcolor);
		padding: 2px;
		text-align: center !important;
	};
	th {
		background-color: var(--light);
		text-align: center !important;
	}
}


/* References -------------------------------------------------------------- */
.references {
	list-style-type: none !important;
	counter-reset: reference-counter;
}

.references li {
	counter-increment: reference-counter;
	position: relative;
	padding-left: 50px;
	font-size: 0.9em;
}

.references li i {
	font-style: italic;
}

.references li::before {
	content: "[" counter(reference-counter) "]";
	position: absolute;
	left: 0;
}


